
    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/fabriceleal">View on GitHub</a>

          <h1 id="project_title">Fabrice Leal</h1>
          <h2 id="project_tagline">/dev/random &gt; /dev/null</h2>



	<div class="menu">
	  <div class="menu_row">
	    <a href="index.html" class="menu_bt first">Home</a>
	    <a href="projects.html" class="menu_bt">Projects</a>
	    <a href="github.html" class="menu_bt">Github</a>
	    <a href="blog.html" class="menu_bt">Blog</a>
	    <a href="contacts.html" class="menu_bt last">Contacts</a>
<!--	    <br style="clear: left;" />-->
	  </div>
	</div>
	</header>
	
    </div>
