<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Fabrice Leal : /dev/random &gt; /dev/null" />

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>Fabrice Leal</title>
  </head>

  <body>


      {% include header.html %}

      <!-- CONTENT GOES HERE -->
      <div id="main_content_wrap" class="outer">
	<section id="main_content" class="inner">
	  {{ content }}
	</section>
      </div>

      {% include footer.html %}

      {% include google-analytics.html %}


  </body>
</html>
